<div id="main">
    <h1>Supplevisor</h1>
    <mat-card id="desc">
        <mat-card-content id="tagline">The Personal Supplement Tool</mat-card-content>
    </mat-card>
    <div id="about">
        <mat-card class="eee">
            <mat-card-title class="mchead">Why</mat-card-title>
            <mat-card-content>
                This application aims to provide an intuitive tool
                for supplement recommendation based upon current health
                issues or areas of concern.
            </mat-card-content>
        </mat-card>
        <mat-card class="eee">
            <mat-card-title class="mchead">How</mat-card-title>
            <mat-card-content>
                Use either the display or search feature to discover
                what supplements you can deploy to improve your health
                and wellbeing.
            </mat-card-content>
        </mat-card>
    </div>
</div>
